.container{
    background: #FFFFFF;
    padding: 16px;
}

body {
    transition: direction 0.3s ease;
  }
  
  .rtl {
    direction: rtl;
    text-align: left;
  }
  
  .ltr {
    direction: ltr;
    text-align: right;
  }